<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <receiver
            android:name=".StarDateAppWidget"
            android:label="Star*Date"
            tools:ignore="Instantiatable"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stardate_app_widget_info" />
        </receiver>
        <receiver
            android:name=".DecimalTimeAppWidget"
            android:label="DecimalTime"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/decimaltime_app_widget_info" />
        </receiver>
        <receiver
            android:name=".DualTimeAppWidget"
            android:label="DualTime"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dualtime_app_widget_info" />
        </receiver>
        <receiver
            android:name=".Standard12hrAppWidget"
            android:label="Standard12hr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/standard12hr_app_widget_info" />
        </receiver>
        <receiver
            android:name=".Standard24hrAppWidget"
            android:label="Standard24hr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/standard24hr_app_widget_info" />
        </receiver>
    </application>

</manifest>